body {
  margin: 0;
  padding: 0;
  background: url(bg.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.register-box {
  width: 320px;
  height: 420px;
  background: #000;
  color: #ffffff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.register-box .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.register-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.register-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.register-box input {
  width: 100%;
  margin-bottom: 20px;
}

.register-box [type="text"], .register-box [type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.register-box [type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #ff8a97;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.register-box input [type="submit"]:hover {
  cursor: pointer;
  background: #403f40;
  color: #ffffff;
}

.register-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.register-box a:hover {
  color: #fff;
}